.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: lightgray;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button#change-name {
    margin-top: 2rem;
}

button#restart-game {
    margin-top: 2rem;
}